 ########
## Code ##
 ########
## Environment Setup ##
# Ensure backups of local user's bash file(s) aren't included.
/src/environmentSetup/*-homeBackUp-*

 ###########
## Testing ##
 ###########
coverage/
report/

######################
## Local Environment ##
######################
*_history

############################
## Log & Temporary File(s) ##
############################
*~
*.log

 #########
## Other ##
 #########
# **Note**: You need to have an extreamlly compelling reason to add something here...
tmp.sh
